<%= form_for(@customer, remote: true, html: {'data-type': 'json'}) do |form| %>
<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="actions">
  <%= form.submit %>
</div>
<form class="admin-create-new-customers" id="form-admin-create-new-customers">
  <div>
    <label for="admin-create-customer">User:</label>
    <input id="admin-create-customer" placeholder="Write customer ..." type="text" name="admin-create-customer" required form="form-admin-create-new-customers">
  </div>
  <div>
    <input type="submit" name="admin-create-customer-submit" id="input-admin-create-customer-submit" value="Add customer" form="form-admin-create-new-customers">
  </div>
</form>
<% end %>