var nameCustomer = "<%= @customer.name %>";
var tableRow = document.querySelector('.admin-block-new-customer .admin-table-new-customer tbody');
var newCustomer = document.createElement('tr');
var customerInputTextError = document.getElementsByClassName("customer-input-text-error")[0];
var customerInput = document.getElementsByClassName("customer-third-class")[0];


newCustomer.innerHTML = ('<tr>' +
  '<th>' + nameCustomer + '</th>' +
  '<th class="admin-table-links">' +
  '<a href="#">Edit</a>' +
  '<a href="#">Delete</a>' +
  '</th>' +
  '</tr>'
);
tableRow.appendChild(newCustomer);

customerInputTextError.style.display = "none";
customerInput.value = "";
customerInput.className = "project-third-class admin-create-customer";
