.wrapper {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
}

.search-users,
.admin-create-new-customers {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-users input {
  padding: 5px 15px;
  box-sizing: border-box;
}

.admin-row-form,
.admin-block-new-project,
#admin_search-tabs,
.tab-admin,
#admin-create-new-customers,
.admin-block-new-customer {
  margin-top: 20px;
}
.admin-submit, .admin-submit-company{
  position: absolute;
  bottom: 0px;
  background: #007bff;
  color: #fff;
  border:none;
  cursor: pointer;
}
.admin-submit:hover, .admin-submit-company:hover{
  background: #0069d9;
}
.user-tasks, .admin-block-new-project, .admin-table-new-project, .admin-block-new-customer, .admin-table-new-customer, .admin-block-info-company, .admin-table-info-company{
  width: 100%;
}
.user-table, .admin-block-new-project, .admin-block-new-customer, .admin-block-info-company{
  max-height: 500px;
  box-sizing: border-box;
  overflow-y: scroll;
  margin-top: 50px;
}
.user-tasks thead, .admin-table-new-project thead, .admin-table-new-customer thead, .admin-table-info-company thead{
  background-color: #afeeee;
}

.user-tasks th {
  padding: 5px;
  border: none;
}

.user-tasks tr {
  border-top: 1px solid #6c757d;
}

.user-tasks tbody tr:last-child {
  border-bottom: 1px solid #6c757d;
}
.user-tasks tbody tr:nth-child(even),.admin-table-new-project tbody tr:nth-child(even), .admin-table-new-customer tbody tr:nth-child(even), .admin-table-info-company tbody tr:nth-child(even){
  background-color: #DDDDDD;
}

.tab-admin {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0px;
  border-bottom: 2px solid #dee2e6;
}

.admin_tablinks {
  background-color: #fff;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 20px;
  border: none;
  position: relative;
  bottom: 4px;
  border: 2px solid #fff;
  border-bottom: 2px solid #dee2e6;
  cursor: pointer;
}

.admin_tablinks:hover {
  border: 2px solid #dee2e6;
  color: #007bff;
}

.tab-admin .active {
  border: 2px solid #dee2e6;
  border-bottom: 2px solid #fff;
  color: #007bff;
}

.admin_tablinks:focus {
  outline: none;
}
/* #admin-create-new-project, #admin-create-new-customers, #admin-create-new-company {
  display: none;
} */
.admin_tabcontent{
  display: none;
}
.search-users select {
  height: 50px;
  width: 100%;
  max-width: 300px;
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
}

.admin-row-form {
  display: block;
}

.search-users label,
.admin-create-new-projects label,
.admin-create-new-customers label {
  display: block;
  margin-bottom: 10px;
}

.search-users div:nth-child(1) {
  width: 38%;
}

.search-users div:nth-child(2) {
  width: 18%;
}

.search-users div:nth-child(3) {
  width: 18%;
}

.search-users div:nth-child(4),
.admin-create-new-projects div:last-child,
.admin-create-new-customers div:last-child {
  width: 20%;
  position: relative;
}

#admin-search-user,
#admin-select-project,
.search-users input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ced4da;
}

.admin-create-new-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.admin-create-new-projects div:nth-child(1) {
  width: 40%;
}

.admin-create-new-projects div:nth-child(2) {
  width: 35%;
}

.admin-create-new-projects div:nth-child(3) {
  width: 35%;
  position: relative;
}

.admin-create-new-projects .input-admin-create-customer-submit,
.admin-create-new-customers .input-admin-create-customer-submit {
  position: absolute;
  bottom: 0px;
  background-color: #69e052;
  border: none;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.admin-create-new-projects input,
.admin-create-new-projects select,
.admin-create-new-projects a,
.admin-create-customer {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.admin-select-customer {
  background-color: #fff;
}

.admin-table-new-project th:nth-child(1),
.admin-table-new-project th:nth-child(2) {
  width: 35%;
  padding: 5px;
}

.admin-table-links a:first-child {
  background-color: #007bff;
}

.admin-table-links a {
  background-color: #ff0000c4;
}

.admin-table-links a {
  text-decoration: none;
  color: #fff;
  padding: 5px 35px;
  display: inline-block;
  box-sizing: border-box;
  width: 49%;
  border-radius: 5px;
}

.admin-create-new-projects div:last-child a {
  position: absolute;
  bottom: 0px;
  text-align: center;
  text-decoration: none;
}

.admin-create-new-customers div:first-child {
  width: 70%;
}

.admin-create-new-customers .input-admin-create-customer-submit {
  padding: 5px 35px;
  border-radius: 5px;
}

.admin-table-new-customer th:first-child {
  width: 70%;
}
.admin-table-new-customer thead th, .admin-table-info-company thead th{
  padding: 5px;
}

.registration-container-form h2 {
  text-align: center;
  margin-bottom: 10px;
}

.registration-container-form .field label {
  margin: 15px 0px;
  display: inline-block;
}

.registration-container-form .actions input {
  text-decoration: none;
  text-align: center;
  border: solid 1px #9fa4a6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  color: #4e5457;
  background: #ffffff;
  box-shadow: 0px 0px 2px #bfb8b8, inset 0px 0px 1px #ffffff;
  padding: 2px 0;
  padding: 5px 15px;
  width: 40.5%;
  cursor: pointer;
}

.registration-container-form .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.registration-container-form .field input {
  width: 100%;
}

.registration-container-form .actions input:hover {
  color: #fff;
  background: #343a40;
  padding: 5px 15px;
}

.registration-container-form .actions br {
  display: none;
}
.customer-input-error {
  box-shadow: 0 0 0 0.15rem rgba(227, 0, 0, 0.75);
  border-radius: 4px;
  border-color: #ced4da;
}

.customer-input-text-error {
  display: none;
  margin-top: 10px;
  display: none;
  color: #7c7f82;
}

.admin-create-user-submit {
  margin-top: 38px;
}

.project-window-edit {
  display: inline;
}

.project-window-delete {
  display: inline;
}

.project-window-edit {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}

.project-window-edit:tarh {
  display: block;
  pointer-events: auto;
}
.admin-table-info-company tbody th:nth-child(1){
  width: 40%;
}
.admin-table-info-company tbody th:nth-child(2){
  width: 30%;
}
.admin-create-new-projects div:nth-child(3){
  width: 30%;
}
.admin_tablinks{
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 1090px) {
  .admin-table-links a{
    width: 40%;
    padding: 5px 5px;
  }
}
@media screen and (max-width: 950px) {

.user-table table, .admin-block-new-project table, .admin-block-new-customer table, .admin-block-info-company table{
  width: 1200px;
}
.search-users div:nth-child(1) {
    width: 48%;
}
.search-users div:nth-child(2) {
    width: 48%;
}
.search-users select{
  max-width: 100%;
}
.search-users div:nth-child(3) {
    width: 215px;
    margin-top: 10px;
}
.search-users div:nth-child(4), .admin-create-new-projects div:last-child, .admin-create-new-customers div:last-child {
    width: 200px;
}
.admin-create-new-customers div:last-child a {
  width: 190px;
  padding: 5px 5px;
}
}
@media screen and (max-width: 750px) {

  .admin_tablinks, #admin-create-user,  #admin-select-customer, .admin-create-new-projects div:last-child a, #admin-create-customer, .admin-create-new-customers div:last-child a {
    font-size: 18px;
  }
  .search-users label, .admin-create-new-projects label, .admin-create-new-customers label, #admin-company-name, #admin-company-user, .admin-submit-company, #admin-select-project option, #admin-select-customer option {
    font-size: 18px;
  }
  #admin-search-user, #admin-select-project, .search-users input{
    height: 35px;
    font-size: 18px;
  }
  .user-tasks tr th, .admin-table-new-project tr th, .admin-table-new-project tr th a, .admin-table-new-customer tr th a, .admin-table-new-customer tr th, .admin-table-info-company tr th, .admin-table-info-company tr th a{
    font-size: 18px;
  }
  .user-table, .admin-block-new-project, .admin-block-new-customer, .admin-block-info-company{
    margin-top: 20px;
  }
  .admin-create-new-projects div:last-child a{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .admin-create-new-projects div:nth-child(1), .admin-create-new-projects div:nth-child(2){
    width: 48%;
  }
  .admin-create-new-projects{
    flex-wrap: wrap;
  }
  .admin-create-new-projects div:nth-child(3){
    width: 30%;
    height: 40px;
    margin-top: 10px;
  }
  .admin-create-new-customers div:last-child a {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .admin-create-new-customers div:last-child{
    width: 28%;
  }
  .admin_tablinks{
    bottom: 2px;
  }
}
@media screen and (max-width: 600px) {

  .admin_tablinks{
    padding: 5px 5px;
  }
}
@media screen and (max-width: 465px) {

    .admin_tablinks{
    font-size: 16px;
    height: 45px;
    display: flex;
    bottom: -2px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .search-users div:nth-child(1) {
    width: 100%;
    margin-top: 10px;
}
.search-users div:nth-child(2) {
    width: 100%;
    margin-top: 10px;
}
.search-users div:nth-child(3) {
    width: 100%;
    margin-top: 10px;
}
.search-users div:nth-child(4) {
    width: 100%;
    margin-top: 10px;
}
.admin-submit, .admin-submit-company{
  position: relative;
}
.admin-create-new-projects div:nth-child(1), .admin-create-new-projects div:nth-child(2){
    width: 100%;
    margin-top:10px;
  }
  .admin-create-new-projects div:nth-child(3){
    width: 200px;
  }
  .admin-create-new-customers div:first-child{
    width: 100%;
  }
  .admin-create-new-customers div:last-child{
    height: 40px;
    margin-top: 10px;
    width: 40%;
  }

.active_tab{
  display: block;
}
