body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #afeeee;
  width: 1900px;
  margin: 0;
  padding: 0;
  height: 100px;
}

.all-btn {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.btn-search {
  background: #5249fc;
  border: 2px solid #eee;
  height: 41px;
  width: 115px;
  display: block;
  border-radius: 10px;
}

.all-table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-task {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  width: 100%;
}

.table-task th {
  background: #afeeee;
  color: white;
  padding: 10px 20px;
}

.table-task th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

.table-task th:first-child, td:first-child {
  text-align: left;
}

section {
  margin: 10px 1.5% 50px 10px;
  padding: 30px;
}

.task {
  text-align: center;
}

.grey {
  background-color: #d9d9d9;
}
