body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #afeeee;
  width: 1900px;
  margin: 0;
  padding: 0;
  height: 100px;
}

.name-table {
  background: maroon; /* Цвет фона таблицы */

}

.all-btn {
  flex-direction: row;
  display: flex;
  max-width: 1200px;
  margin: 0;
}

.field_input input {
  width: 1600px;
}

.all-table {
  display: flex;
  align-items: center;
  justify-content: center;

}

.table-task {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  width: 100%;
}

.table-task th {
  background:  #afeeee;
  color: white;
  text-shadow: 0 1px 1px #2d2020;
  padding: 10px 20px;
}

.table-task th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

.table-task th:first-child, td:first-child {
  text-align: left;
}

.table-task th:first-child {
  border-top-left-radius: 10px;
}

.table-task th:last-child {
  border-top-right-radius: 10px;
}

.table-task td {
  padding: 10px 20px;
  background: #a5a9cc;
}

.table-task tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

.table-task tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

section {
  margin: 10px 1.5% 50px 10px;
  padding: 30px;
}

.task {
  text-align: center;
}
