body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #afeeee;
  width: 1900px;
  margin: 0;
  padding: 0;
  height: 100px;
}

.field_input input {
  width: 1600px;
}

.table-task {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}

th {
  background: #bcebdd;
  color: white;
  text-shadow: 0 1px 1px #2d2020;
  padding: 10px 20px;
}

th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

th:first-child, td:first-child {
  text-align: left;
}

th:first-child {
  border-top-left-radius: 10px;
}

th:last-child {
  border-top-right-radius: 10px;

}

td {
  padding: 10px 20px;
  background: #f8e391;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}


section {
  margin: 0 1.5% 24px 1.5%;
  padding: 10px;
}

.task {
  text-align: center;
}
