
.profile_container {
  width: 90%;
  margin: 0 auto;
}

.top-menu {
  display: flex;
  flex-wrap: wrap;
  color: fff;
  list-style: none;
}

.top-menu__item {
  margin: 0px 0px 0px 30px;
}

.top-menu__item a {
  text-decoration: none;
  color: #551A8B;
  font-weight: 600;
}

header {
  background-color: #afeeee;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100px;
}

.top-menu__item a:hover {
  border-bottom: 2px solid #551A8B;
  padding-bottom: 3px;
}

.logo img {
  height: 75px;
}

.log_out_link a {
  border-bottom: 2px solid #551A8B;
  padding-bottom: 3px;
  color: #551A8B;
}

.log_out_link a:hover {
  border-bottom: none;
}

.profile_button {
  color: #fff;
  border-color: #007bff;
  border: 1px solid transparent;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
}

.profile_button-addTask {
  background-color: #007bff;
  margin: 45px 0;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
}

.profile_button:hover {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .5);
  border-color: #0069d9;
  opacity: 0.65;
}

.profile_container-second .profile_button {
  width: 155px;
}

.profile_button-start {
  background-color: #69e052;
}

.profile_button-stop {
  background-color: #ff0000c4;
  display: none;
}

.profile_button-pause {
  background-color: #007bff;
  display: none;
}

.profile_select-client__input {
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  height: 50px;
  box-sizing: border-box;
  padding-left: 10px;
  width: 250px;
}

.profile_select-client__input:hover {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
  height: 50px;
}

#profile_container-second {
  margin-bottom: 100px;
}

select option.profile_select-client__option {
  font-size: 20px;
}

.profile_table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  overflow: scroll;
}

.profile_table td,
.profile_table th {
  padding: 12px;
}

.profile_table thead tr th {
  border-top: 3px solid #dee2e6;
  border-bottom: 3px solid #dee2e6;
}

.profile_table thead tr th:first-child {
  font-weight: 600;
  font-size: 28px;
}

.profile_table thead tr th p.profile_table-title {
  font-weight: 600;
  font-size: 26px;
}

.profile_table tbody tr th {
  border-bottom: 1px solid #dee2e6;
}

.profile_table tbody tr:nth-child(even) {
  background-color: #eae9e9;
}

.close_mobile_button,
.close_mobile_button>*,
#sandwich_open {
  display: none;
}

@media screen and (max-width: 750px) {
  .top-menu li a {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .top-menu {
    position: fixed;
    flex-direction: column;
    right: 0px;
    top: 0px;
    width: 50%;
    background-color: #CECECE;
    height: 100%;
    padding-left: 0px;
    margin-right: -100%;
    transition: 0.5s;
    display: none;
    z-index: 2;
  }

  .top-menu__item a {
    color: #818181;
    font-size: 25px;
    transition: 0.3s;
  }

  .top-menu__item {
    margin-top: 10px;
  }

  .close_mobile_button {
    display: block;
    margin-bottom: 10px;
  }

  .close_mobile_button div {
    display: block;
    height: 2px;
    width: 30px;
    background-color: #818181;
    margin: 20px 0px;
    transform: rotate(45deg);
    position: relative;
    cursor: pointer;
  }

  .close_mobile_button div:before {
    position: absolute;
    display: block;
    height: 2px;
    width: 30px;
    content: '';
    transform: rotate(-90deg);
    background-color: #818181;
  }

  .log_out_link a {
    border-bottom: none;
  }

  .log_out_link a:hover {
    border-bottom: 2px solid #551A8B;
  }

  .top-menu__item a:hover {
    color: #551A8B;
  }

  #sandwich_open {
    display: block;
    height: 4px;
    width: 40px;
    background-color: #551A8B;
    border: none;
    position: relative;
  }

  #sandwich_open:after,
  #sandwich_open:before {
    position: absolute;
    content: '';
    height: 4px;
    width: 40px;
    background-color: #551A8B;
    top: 10px;
    left: -50%;
    transform: translateX(50%);
  }

  #sandwich_open:before {
    top: -10px;
  }

  #overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 1;
  }

  #sandwich_open:focus {
    outline: none;
  }

  .mystyle {
    overflow-y: hidden;
  }
}

  @media screen and (max-width: 465px) {
    .logo img {
      height: 60px;
    }

    .header {
      height: 70px;
    }
  }

  .profile_block-client>div {
    margin-bottom: 20px;
  }

  .new_task > div {
    margin-right: 20px;
  }
