<div id="overlay"></div>
<header>
  <div class="profile_container">
  	<div class="header">
      <a class="logo" href=""><img src="/assets/logo.png" alt="logo header"></a>
      <button id="sandwich_open" ></button>
      <ul id="top-menu" class="top-menu">
      	<li class="close_mobile_button top-menu__item">
      	  <div id="close_nav_mobile" href="#"></div>
      	</li>
        <li class="top-menu__item">
          <a href="#menu">Menu</a>
        </li>
        <li class="top-menu__item">
          <a href="#menu">Menu</a>
        </li>
        <li class="top-menu__item log_out_link">
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      </ul>
	</div>
  </div>	
</header>
