<header class="header">
   <img src="#" alt="">
      <ul class="top-menu">
        <li class="top-menu__item"><a href="#menu">menu</a></li>
        <li class="top-menu__item"><a href="#menu">menu</a></li>
      </ul>
</header>
