<header class="header">
  <div class= "header_img">
   <img src="#" alt="">
    </div>
      <div class="topmenu">
        <ul>
      <a href="#menu">menu</a>
    <a href="#menu">menu</a>
   </ul>
 </div>
</header>
