<header class="header">
   <a class="logo"><img src="/assets/epic-1.png" alt=""></a>
      <ul class="top-menu">
        <li class="top-menu__item"><a href="#menu">menu</a></li>
        <li class="top-menu__item"><a href="#menu">menu</a></li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </ul>
</header>
