<%= render "application/header" %>
<div class="wrapper">
    <ul class="tab-admin">
      <li>
        <button class="admin_tablinks active" type="button" onclick="select_tab(event, 'admin_search-tabs')">Tasks</button>
      </li>
      <li>
        <button class="admin_tablinks" type="button" onclick="select_tab(event, 'admin-create-new-project')">Add new project</button>
      </li>
      <li>
        <button class="admin_tablinks" type="button" onclick="select_tab(event, 'admin-create-new-customers')">Add new customer</button>
      </li>
    </ul>
    <div id="admin_search-tabs" class="admin_tabcontent">
      <form class="search-users" action="" method="post">
        <div>
          <label for="admin-search-user">Name user:</label>
          <input id="admin-search-user" type="text" name="" placeholder="Search user ...">
        </div>
        <div>
          <label for="select-project">Select project:</label>
          <select id="admin-select-project">
            <option value="Project">Project</option>
            <option value ="Project">Project</option>
            <option value="Project">Project</option>
            <option value="Project">Project</option>
          </select>
        </div>
        <div>
          <label for="admin-search-date">Search date:</label>
          <input id="admin-search-date" class="admin-search-date" type="date">
        </div>
        <div>
          <input class="admin-submit" type="submit" name="" value="Search">
        </div>
      </form>
      <div class="user-table">
        <table class="user-tasks">
            <thead>
              <tr>
                <th>Project</th>
                <th>Task</th>
                <th>Start/Finish</th>
                <th>Full Time</th>
                <th>User</th>
              </tr>
            </thead>
            <tbody>
              <% for i in 0..100 do %>
                <tr>
                  <th>Project <%= i %></th>
                  <th>Create new page</th>
                  <th>01:00/04:00</th>
                  <th>03:00</th>
                  <th>User 1</th>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
    <div id="admin-create-new-project" class="admin_tabcontent">
      <form class="admin-create-new-projects">
        <div>
          <label for="admin-create-user">User:</label>
          <input id="admin-create-user" placeholder="Write user ..." type="text" name="admin-create-user">
        </div>
        <div>
          <label for="admin-select-customer">Select customer:</label>
          <select id="admin-select-customer">
            <option value="Project">customer 1</option>
            <option value ="Project">customer 2</option>
            <option value="Project">customer 3</option>
            <option value="Project">customer 4</option>
          </select>
        </div>
        <div>
          <a href="#">Add project</a>
        </div>
      </form>
      <div class="admin-block-new-project">
        <table class="admin-table-new-project">
            <thead>
              <tr>
                <th>Name</th>
                <th>Customer</th>
                <th>Edit / Delete</th>
              </tr>
            </thead>
            <tbody>
              <% for i in 0..100 do %>
              <tr>
                <th>Name 1</th>
                <th>User 1</th>
                <th class="admin-table-links">
                  <a href="#">Edit</a>
                  <a href="#">Delete</a>
                </th>
              </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
    <div id="admin-create-new-customers" class="admin_tabcontent">
      <form class="admin-create-new-customers">
        <div>
          <label for="admin-create-customer">User:</label>
          <input id="admin-create-customer" placeholder="Write customer ..." type="text" name="admin-create-customer">
        </div>
        <div>
          <a href="#">Add project</a>
        </div>
      </form>
      <div class="admin-block-new-customer">
        <table class="admin-table-new-customer">
            <thead>
              <tr>
                <th>Customer</th>
                <th>Edit / Delete</th>
              </tr>
            </thead>
            <tbody>
              <% for i in 0..100 do %>
              <tr>
                <th>Customer</th>
                <th class="admin-table-links">
                  <a href="#">Edit</a>
                  <a href="#">Delete</a>
                </th>
              </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
</div>
