<%= render "application/header" %>
<div class="wrapper">
    <ul class="tab-admin">
      <li>
        <button class="admin_tablinks" type="button" onclick="select_tab(event, 'admin_search-tabs')">Tab 1</button>
      </li>
      <li>
        <button class="admin_tablinks" type="button" onclick="select_tab(event, 'tabs2')">Tab 2</button>
      </li>
      <li>
        <button class="admin_tablinks" type="button" onclick="select_tab(event, 'tabs3')">Tab 3</button>
      </li>
    </ul>
    <div id="admin_search-tabs">
      <form class="search-users" action="" method="post">
        <input type="text" name="" placeholder="Search user ...">
        <input type="submit" name="" value="Search">
      </form>
      <div class="user-table admin_tabcontent">
        <table class="user-tasks">
            <thead>
              <tr>
                <th>Project</th>
                <th>Task</th>
                <th>Start/Finish</th>
                <th>Full Time</th>
                <th>User</th>
              </tr>
            </thead>
            <tbody>
              <% for i in 0..1000 do %>
                <tr>
                  <th>Project <%= i %></th>
                  <th>Create new page</th>
                  <th>01:00/04:00</th>
                  <th>03:00</th>
                  <th>User 1</th>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
    <div id="tabs2" class="admin_tabcontent">
      <p>tabs2</p>
    </div>
    <div id="tabs3" class="admin_tabcontent">
      <p>tabs3</p>
    </div>
</div>
