<div class="container">
    <form name="login" method="post" action="URL">
        <fieldset>
            <div class="login">
                <div class="flax-box">
                    <label for="login">Login:</label>
                    <input class="form__input input-width" type="email" maxlength="25" size="20" name="login" autocomplete="on" required autofocus>
                </div>
            </div>
            <div class="password">
                <div class="flax-box">
                    <label for="password">Password:</label>
                    <input class="form__input input-width" type="password" maxlength="25" size="20" name="password" autocomplete="off" required>
                </div>
            </div>
            <div class="flax-box">
                <input class="form__button input-width" type="submit" name="submit" value="Submit">
            </div>
        </fieldset>
    </form>
</div>
