<!--btn project-->
<div class="btn-progects">
  <select>
    <option>Project 1</option>
    <option>Project 2</option>
    <option>Project 3</option>
    <option>Project 4</option>
    <option>Project 5</option>
  </select>
</div>
<!--btn date-->
 <form>
  <p>Date: <input type="date" name="calendar">
 </form>
