<div class="center">
<!--btn project-->
<div class="my_tasks_btn-projects">
  <select>
    <option>Project 1</option>
    <option>Project 2</option>
    <option>Project 3</option>
    <option>Project 4</option>
    <option>Project 5</option>
  </select>

<!--btn date-->
<div class="my_tasks_btn-data">

    <p>Date:
      <input type="date" name="calendar">

  </div>
  <form>
    <input name="s" placeholder="Search here..." type="search">
    <button type="submit">Search</button>
  </form>
  </div>
<!--table-->
  <table class="table-task">
    <tr>
      <th colspan="4">My Tasks</th>
    </tr>
    <tr>
      <th>
        <p class="table-text">Project</p>
      </th>
      <th>
        <p class="table-text">Task</p>
      </th>
      <th>
        <p class="table-text">Start/Finish</p>
      </th>
      <th>
        <p class="table-text">Full time</p>
      </th>
    </tr>
    <tr>
      <th>John</th>
      <th>Task 1</th>
      <th>01:00/04:00</th>
      <th>03:00</th>
    </tr>
    <tr>
      <th>Poul</th>
      <th>Task 2</th>
      <th>01:00/04:00</th>
      <th>03:00</th>
    </tr>
    <tr>
      <th>Sara</th>
      <th>Task 3</th>
      <th>01:00/04:00</th>
      <th>03:00</th>
    </tr>
  </table>
  </div>
