<%= render "application/header" %>

<div class="body-task">
  <div class="all-btn">
    <div>
      <label for="select-project">Select project:</label>
      <select id="select-project">
        <option value="Project">Project1</option>
        <option value="Project">Project2</option>
        <option value="Project">Project3</option>
        <option value="Project">Project4</option>
    </div>
    <div class="search-data">
      <label for="search-data">Search data:</label>
      <input id="admin-search-date" class="search-date" type="date">
    </div>
    <div  class="search">
      <label for="search-user">Name user:</label>
      <input id="search-user" type="text" name="" placeholder="Search user ...">
    </div>
      <p><input type="button" class="btn-search" value="Search"></p>
    </div>
<section>
  <div class="all-table">
    <table class="table-task">
      <tr>
        <th colspan="4">
          <p class="task">My Tasks</p>
        </th>
      </tr>
      <tr class="name-table">
        <td>Project</td>
        <td>Task</td>
        <td>Start/Finish</td>
        <td>Full Time</td>
      </tr>
      <tr>
        <td class="grey">project 1</td>
        <td class="grey">task1</td>
        <td class="grey">1:00/3:00</td>
        <td class="grey">2:00</td>
      </tr>
      <tr>
        <td>project 2</td>
        <td>task2</td>
        <td>1:00/3:00</td>
        <td>2:00</td>
      </tr>
      <tr>
        <td>project 3</td>
        <td>task3</td>
        <td>1:00/3:00</td>
        <td>2:00</td>
      </tr>
    </table>
  </div>
  </div>
