<%= render "application/header" %>

<div class="body-task">
  <div class="all-btn">
    <div class="search">
      <form>
        <label for="search-user" class="superlabel">User name:</label>
        <input id="search-user" type="text" name="" placeholder="Search user ...">
      </form>
    </div>
    <div>
      <form>
        <label for="select-project">Select project:</label>
        <select id="select-project">
          <option value="Project">Project1</option>
          <option value="Project">Project2</option>
          <option value="Project">Project3</option>
          <option value="Project">Project4</option>
        </select>
      </form>
    </div>
    <div class="search-data">
      <form>
        <label for="search-data" class="superlabel">Data:</label>
        <input id="search-date" class="search-date" type="date">
      </form>
    </div>
    <form>
      <p><input type="button" class="btn-search" value="Search"></p>
    </form>
  </div>
  <div class="all-table">
    <table class="table-task">
      <tr class="name-table">
        <th>Project</th>
        <th>Task</th>
        <th>Start/Finish</th>
        <th>Full Time</th>
      </tr>
      <% for i in 0..100 do %>
        <tr>
          <td>project 1</td>
          <td>task1</td>
          <td>1:00/3:00</td>
          <td>2:00</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
</div>
