<!--button of menu in header-->
<%= render "application/header" %>
<!--button add in body-->
<div class="container-profile">
  <button class="profile_button profile_button_addTask" type="button">+ Add Task
  </button>
  <div class="profile_container-second">
    <select form="profile_select-client" class="profile_form-client__select">
      <option class="profile_select-client__option">Task 1</option>
      <option class="profile_select-client__option">Task 2</option>
    </select>
    <input type="text" class="profile_form-client__select">
    <button class="profile_button profile_button-start" type="button">Start</button>
    <button class="profile_button profile_button-pause" type="button">Pause</button>
    <button class="profile_button profile_button-stop" type="button">Stop</button>
  </div>
  <!--table-->
  <table class="profile_table">
    <thead>
      <tr>
        <th class="profile_table_th-headline" colspan="4">Today task</th>
      </tr>
      <tr>
        <th>
          <p class="profile_table_title">Client</p>
        </th>
        <th>
          <p class="profile_table_title">Task</p>
        </th>
        <th>
          <p class="profile_table_title">Start/Finish</p>
        </th>
        <th>
          <p class="profile_table_title">Full time</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>John</th>
        <th>Task 1</th>
        <th>01:00/04:00</th>
        <th>03:00</th>
      </tr>
      <tr>
        <th>John</th>
        <th>Task 1</th>
        <th>01:00/04:00</th>
        <th>03:00</th>
      </tr>
      <tr>
        <th>John</th>
        <th>Task 1</th>
        <th>01:00/04:00</th>
        <th>03:00</th>
      </tr>
    </tbody>
  </table>
</div>