<!--button of menu in header-->

<%= render "application/header" %>

<!--button add in body-->
<button type="button">+ Add Task</button>
  <div class="button">
        <select>
          <option>Task 1</option>
            <option>Task 2</option>
              </select>
            <input type="text">
          <button type="button">Start</button>
        <button type="button">Pause</button>
      <button type="button">Stop</button>
    </div>
<!--table-->
    <div class= "table">
      
