<!--button of menu in header-->
<%= render "application/header" %>
<!--button add in body-->
<div class="profile_container">
  <button class="profile_button profile_button-addTask" type="button">+ Add Task
  </button>
  <div class="profile_container-second">
    <select class="profile_select-client__input">
      <option class="profile_select-client__option">Task 1</option>
      <option class="profile_select-client__option">Task 2</option>
    </select>
    <input type="text" class="profile_select-client__input" placeholder="Task description">
    <button id="profile_button-start" class="profile_button profile_button-start" type="button">Start</button>
    <button id="profile_button-pause" class="profile_button profile_button-pause" type="button">Pause</button>
    <button id="profile_button-stop" class="profile_button profile_button-stop" type="button">Stop</button>
  </div>
  <!--table-->
  <table class="profile_table">
    <thead>
      <tr>
        <th class="profile_table-th__headline" colspan="4">Today task
        </th>
      </tr>
      <tr>
        <th>
          <p class="profile_table-title">Client</p>
        </th>
        <th>
          <p class="profile_table-title">Task</p>
        </th>
        <th>
          <p class="profile_table-title">Start/Finish</p>
        </th>
        <th>
          <p class="profile_table-title">Full time</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>John</th>
        <th>Task 1</th>
        <th>01:00/04:00</th>
        <th>03:00</th>
      </tr>
      <tr>
        <th>John</th>
        <th>Task 1</th>
        <th>01:00/04:00</th>
        <th>03:00</th>
      </tr>
      <tr>
        <th>John</th>
        <th>Task 1</th>
        <th>01:00/04:00</th>
        <th>03:00</th>
      </tr>
    </tbody>
  </table>
</div>