<!--button of menu in header-->

<%= render "application/header" %>

<!--button add in body-->
<button type="button">+ Add Task</button>
  <div class="button">
        <select>
          <option>Task 1</option>
            <option>Task 2</option>
              </select>
            <input type="text">
          <button type="button">Start</button>
        <button type="button">Pause</button>
      <button type="button">Stop</button>
    </div>
<!--table-->

      <table class="table">
        <tr>
        <th class="caption">sdegds</th>
        </tr>
         <tr>
           <th >sdds</th>
           <th>sddcc</th>
           <th>sdfsc</th>
           <th>sdcsdcd</th>
           </tr>
      </table>
